@tailwind base;
@tailwind components;
@tailwind utilities;


/* base styles */
* {
  @apply p-0 m-0 box-border;
}

body {
  @apply bg-primary;
}

.logo,
.title {
  @apply font-rubik text-4xl leading-tight;
}

h2 {
  @apply leading-tight;
}

.subheading {
  @apply text-1.75xl font-rubik font-b leading-tight;
}



a {
  @apply text-sm font-r no-underline text-secondary;
}

p {
  @apply font-os font-r text-sm text-secondary;
}

.main-container {
  @apply min-h-screen p-1.625;
}

main {
  @apply container mx-auto;
}

.btn {
  @apply py-2.5 px-4 text-sm rounded-lg font-os font-eb text-white;
}

form input {
  @apply focus:outline-none;
}

img {
  @apply text-gray-600;
}






nav span {
  @apply text-secondary;
}

.tooltip {
  @apply relative;
}

.tooltiptext {
  @apply invisible absolute min-w-max text-secondary font-b -top-1.875 opacity-0 transition-opacity duration-500 ease-in-out;

}

.tooltip:hover .tooltiptext {
  @apply text-base visible opacity-100;
}

/* traingle for menu dropdown */
.menu-links::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 17px solid transparent; /* Adjust the size of the triangle */
  border-right: 9px solid transparent;
  border-bottom: 26px solid #191B20;
  top: -15px;
  right: 13.5px;
}

.menu-links::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 13px solid transparent; /* Adjust the size of the triangle */
  border-right: 7px solid transparent;
  border-bottom: 19px solid #F0F0F0;
  top: -19px;
  right: 15px;
}






/* Footer styles */
footer .newsletter h3 {
  @apply text-2xl font-eb font-rubik text-hint;
}

footer h4 {
  @apply font-rubik font-eb text-hint;
}

footer p {
  @apply font-os font-r text-primary leading-6;
}

.pagelinks h4 {
  @apply pb-2;
}

.pagelinks p {
  @apply leading-7;
}

footer span {
  @apply text-primary;
}




/* project details page */
.techstack::after {
  content: ', '
}
.techstack:last-child::after {
  content: ''
}





.error {
  @apply font-os text-sm text-red-600 font-r pt-2.5;
}







.ts-inner-wrapper div:nth-child(1) .progress-bar > div  {
  content: '';
  width: 0%;
  height: 10px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  animation-name: html;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-direction: backwards;
  animation-delay: 1s;
}

@keyframes html {
  0% {width: 0%;}
  2%, 18%, 98%, 100% {width: 64%;} 
}

.ts-inner-wrapper div:nth-child(2) .progress-bar > div  {
  content: '';
  width: 0%;
  height: 10px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  animation-name: css;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-direction: backwards;
  animation-delay: 1s;
}

@keyframes css {
  0% {width: 0%;}
  2%, 18%, 98%, 100% {width: 78%;} 
}

.ts-inner-wrapper div:nth-child(3) .progress-bar > div  {
  content: '';
  width: 0%;
  height: 10px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  animation-name: js;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-direction: backwards;
  animation-delay: 1s;
}

@keyframes js {
  0% {width: 0%;}
  2%, 18%, 98%, 100% {width: 50%;} 
}

.ts-inner-wrapper div:nth-child(4) .progress-bar > div  {
  content: '';
  width: 0%;
  height: 10px;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: 0;
  animation-name: php;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-direction: backwards;  
  animation-delay: 1s;
}

@keyframes php {
  0% {width: 0%;}
  2%, 18%, 98%, 100% {width: 35%;} 
}




/* professional skills */
.progress-circle {
  width: 100px;
  height: 100px;
  /* background: red; */
  position: relative;
}

.progress-circle .outer {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  padding: 10px;
  @apply shadow-inner;
}

.progress-circle .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 80px;
  border-radius: 50%;
  @apply shadow-inner;
}


/* communication */
.communication circle {
  fill: none;
  stroke: #fff;
  stroke-width: 10px;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  animation-name: animateCommunicate;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-direction: backwards;
  animation-delay: 1s;
}

.communication svg {
  position: absolute;
  top:-30px;
  left:-30px;
}

@keyframes animateCommunicate {
  0% {width: 0%;}
  2%, 18%, 98%, 100% {stroke-dashoffset: 70.75;}
}



/* team work */
.team-work circle {
  fill: none;
  stroke: #fff;
  stroke-width: 10px;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  animation-name: animateTeamWork;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-direction: backwards;
  animation-delay: 1s;
}

.team-work svg {
  position: absolute;
  top:-30px;
  left:-30px;
}

@keyframes animateTeamWork {
  0% {width: 0%;}
  2%, 18%, 98%, 100% {stroke-dashoffset: 124.52;}
}



/* adaptability */
.adaptability circle {
  fill: none;
  stroke: #fff;
  stroke-width: 10px;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  animation-name: animateAdaptability;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-direction: backwards;
  animation-delay: 1s;
}

.adaptability svg {
  position: absolute;
  top:-30px;
  left:-30px;
}

@keyframes animateAdaptability {
  0% {width: 0%;}
  2%, 18%, 98%, 100% {stroke-dashoffset: 155.65;}
}



/* problem solving */
.problem-solving circle {
  fill: none;
  stroke: #fff;
  stroke-width: 10px;
  stroke-dasharray: 283;
  stroke-dashoffset: 283;
  animation-name: animateProblemSolving;
  animation-duration: 100s;
  animation-iteration-count: infinite;
  animation-direction: backwards;
  animation-delay: 1s;
}

.problem-solving svg {
  position: absolute;
  top:-30px;
  left:-30px;
}

@keyframes animateProblemSolving {
  0% {width: 0%;}
  2%, 18%, 98%, 100% {stroke-dashoffset: 113.2;}
}