@tailwind base;
@tailwind components;
@tailwind utilities;


/* base styles */
* {
  @apply p-0 m-0 box-border;
}

body {
  @apply bg-primary;
}

.logo,
.title {
  @apply font-rubik text-4xl leading-tight;
}

h2 {
  @apply leading-tight;
}

.subheading {
  @apply text-1.75xl font-rubik font-b leading-tight;
}



a {
  @apply text-sm font-r font-os no-underline text-secondary;
}

p {
  @apply font-os font-r text-sm text-secondary;
}

.main-container {
  @apply min-h-screen p-1.625;
}

main {
  @apply container mx-auto;
}

.btn {
  @apply py-2.5 px-4 text-sm rounded-lg font-os font-eb text-white;
}

form input {
  @apply focus:outline-none;
}






nav span {
  @apply text-secondary;
}

.tooltip {
  @apply relative;
}

.tooltiptext {
  @apply invisible absolute min-w-max text-secondary font-b -top-1.875 opacity-0 transition-opacity duration-500 ease-in-out;

}

.tooltip:hover .tooltiptext {
  @apply text-base visible opacity-100;
}

/* traingle for menu dropdown */
.menu-links::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 17px solid transparent; /* Adjust the size of the triangle */
  border-right: 9px solid transparent;
  border-bottom: 26px solid #191B20;
  top: -15px;
  right: 13.5px;
}

.menu-links::before {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-left: 13px solid transparent; /* Adjust the size of the triangle */
  border-right: 7px solid transparent;
  border-bottom: 19px solid #F0F0F0;
  top: -19px;
  right: 15px;
}






/* Footer styles */
footer .newsletter h3 {
  @apply text-2xl font-eb font-rubik text-hint;
}

footer h4 {
  @apply font-rubik font-eb text-hint;
}

footer p {
  @apply font-os font-r text-primary leading-6;
}

.pagelinks h4 {
  @apply pb-2;
}

.pagelinks p {
  @apply leading-7;
}

footer span {
  @apply text-primary;
}




/* project details page */
.techstack::after {
  content: ', '
}
.techstack:last-child::after {
  content: ''
}





.error {
  color: #9966A2;
  @apply pt-3 ;
}