@tailwind base;
@tailwind components;
@tailwind utilities;


/* base styles */
* {
  @apply p-0 m-0 box-border;
}



/* base headings */
.mainheading {
  @apply text-3xl md:text-4xl leading-tight;
}

.subheading {
  @apply text-1.375 md:text-1.75 leading-tight;
}





/* base styles */
h2 {
  @apply leading-normal;
}

a {
  @apply text-sm font-r no-underline;
}

p, a {
  @apply font-r text-base text-ashGray;
}

.main-container {
  @apply px-[x-pad] max-w-screen-lg mx-auto;
}

main {
  @apply container mx-auto;
}

.btn {
  @apply p-3 px-3.5 rounded-lg cursor-pointer text-white font-medium bg-saddleBrown;
}

.btn-small {
  @apply py-2 px-3 rounded-lg font-medium text-frostWhite;
}

form input {
  @apply focus:outline-none;
}

img {
  @apply text-gray-600;
}







/* (registration form) auto show date picker when user clicks on field by making picker indicator full height and width of input */
input[type="date"] {
  box-sizing: border-box;
  outline: 0;
  position: relative;
  width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
  background: transparent;
  width: auto;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  cursor: pointer;
}












/* sidebar */
.sidebar-content {
  width: inherit;
}
















/* input placeholder */
input::placeholder, textarea::placeholder{
  @apply opacity-80 text-ashGray;
}









/* react carousel */
.carousel-root,
.carousel .carousel-slider {
  width: 100% !important;
  max-width: 926px !important;
  margin: 0 auto !important;
}

.carousel .control-prev, .control-next {
  max-height: 410px !important;
}









/* nav menus*/
.loggedin-nav a.active {
  @apply text-cloudGray;
}
















/* Footer styles */
footer .newsletter h3 {
  @apply subheading font-b text-saddleBrown;
}

footer h4 {
  @apply font-b text-saddleBrown;
}

footer p {
  @apply text-nightSky leading-normal;
}

.pagelinks h4 {
  @apply pb-2;
}

.pagelinks p {
  @apply leading-7;
}

footer span {
  @apply text-nightSky;
}







/* project details page */
.techstack::after {
  content: ', '
}
.techstack:last-child::after {
  content: ''
}









/* global messages */

/* error */
.error {
  @apply bg-red-100 text-red-950 font-b text-base p-3 leading-normal shadow-lg border-2 border-red-600 rounded-md;
}

/* success */
.success {
  @apply bg-green-100 text-green-950 font-b text-base p-3 leading-normal shadow-lg border-2 border-green-600 rounded-md;
}

/* info */
.info {
  @apply bg-blue-100 text-blue-950 font-b text-base p-3 leading-normal shadow-lg border-2 border-blue-600 rounded-md;
}

.modal-form-error {
  @apply text-red-600 text-sm mt-2;
}

.modal-form-success {
  @apply text-green-600 text-sm mt-2;
}









